<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>table of users</title>
    <style>
        table th, table td {
            padding: 5px;
        }

        .row {
            font-style: italic;
        }

        .even-row {
            color: black;
        }

        .odd-row {
            color: blue;
        }
    </style>
</head>
<body>
<div align="center">
    <h3>USERS TABLE</h3>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>surname</th>
            <th>age</th>
            <th>email</th>
            <th>password</th>
            <th>roles</th>
            <th>DO IT</th>
        </tr>

        <tr th:each="user: ${allUsers}">

            <td th:text="${user.getId()}">id</td>
            <td th:text="${user.name}">name</td>
            <td th:text="${user.surname}">surname</td>
            <td th:text="${user.age}">age</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.password}">password</td>
            <td>
                <p th:each="userRole: ${user.roles}">
                    <span th:text="${userRole.getRole()}">role</span>
                </p>
            </td>
            <td>
                <a href="#" th:href="@{/admin/edit/{id} (id=${user.id})}">Edit</a>
                <a href="#" th:href="@{/admin/delete/{id} (id=${user.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <br/>
    <form action="/admin/add/" method="get">
        <input type="submit" value="CREATE USER">
    </form>
    <br>
    <form action="/user" method="get">
        <input type="submit" value="USER PAGE">
    </form>
    <br>
    <form action="/welcome" method="get">
        <input type="submit" value="WELCOME PAGE">
    </form>
    <br>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>